<div class="index-header">
	<h1>Welcome to Klaxon</h1>
	<p>The date and time is <%= Time.now %></p>
</div>

<div class="container-fluid">
	<div class="row" id="products">
		<div class="col-md-4" id="morel">
			<%= image_tag("Mns-Morel.png", class: "img-responsive") %>
		</div>
		<div class="col-md-4" id="outdoor">
			<%= image_tag("Mns-Outdoor.png", class: "img-responsive") %>
		</div>
		<div class="col-md-4" id="planer">
			<%= image_tag("Mns-Planer.png", class: "img-responsive") %>
		</div>
		<div class="col-md-4" id="whee">
			<%= image_tag("Mns-Wheee.png", class: "img-responsive") %>
		</div>
		<div class="col-md-4" id="cake">
			<%= image_tag("Wms-Let-them-eat-cake.png", class: "img-responsive") %>
		</div>
		<div class="col-md-4" id="rocket">
			<%= image_tag("Wms-Rocket.png", class: "img-responsive") %>
		</div>
	</div>
</div>

