<h1>Your go to shop for witty apparel.</h1>
<p>Welcome! The date and time is <%= Time.now %></p>

<%= image_tag("Blue-Wmn.png", class: "img-responsive") %>
<%= image_tag("Brown-Mn.png", class: "img-responsive") %>
<%= image_tag("Hoppin-Honey-Mn.png", class: "img-responsive") %>
<%= image_tag("Tank-Ride-Wmn.png", class: "img-responsive") %>
