<div class="container" id="login">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
          <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Enter your email" %>
      </div>

      <div class="field">
          <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Enter your password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field form-check">
          <%= f.check_box :remember_me, :class=>"form-check-input", :style=>"margin:0" %>
          <%= f.label :remember_me, :class=>"form-check-lable" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class=>"btn btn-warning", :style=>"width:100%" %>
      </div>
    <% end %>

        <%= render "devise/shared/links" %>
</div>
