<div class="container" id="product-single">
  <p id="notice"><%= notice %></p>

  <button><%= link_to 'Back to Products', products_path %></button>

  <div class="container-fluid page_wrap">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p><%= @product.highest_rating_comment %></p>
        <h1 class="product_title"><%= @product.name %></h1>
        <p class ="product_price">$<%= number_to_currency(@product.price) %></p>
        <p><%= @product.description %></p>
        <br>
        <button><%= link_to 'Edit', edit_product_path(@product) %></button>
      </div>
    </div>
  </div>
</div>